*{
  padding: 0;
  margin: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

p{
  color: white;
}

h1{
  font-size: 2rem;
}

section{
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

section .wave{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: url(./img/wave.png);
  background-size: 200rem 10rem;
}

section .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2{
  animation: animate2 20s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 2rem;
}

section .wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

section .wave.wave4{
  animation: animate2 20s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 5rem;
}







@keyframes animate
{
  0%
  {background-position-x: 0;

}

100%
{background-position-x: 25rem;}

}


@keyframes animate2
{
  0%
  {background-position-x: 0;

}

100%
{background-position-x: -25rem;}

}








.container, .container2{
  display: flex;
  justify-content: center;
  gap: .5rem;
  max-width: 100%;
  padding: 0rem 1rem;

}

.option{
  width: 8rem;
  transition: all 300ms;
  margin: 1rem 0rem;
}

.option:hover{
  opacity: 75%;
  transform: scale(1.1);
}

.headerImage{
  max-width: 100%;
  width: 20rem;
  height: auto;
  object-fit: cover;
}



@media only screen and (min-width: 1000px){

  header{
    display: flex;
    justify-content: center;
  }


  .headerImage{
    width: 25rem;

  }

  .option{
    width: 10rem;
   

}

.container, .container2{
  gap: 4rem;

}





}