:root{
  --clr-primary-100: #ffffff;
  --clr-primary-200: #472fef;
  --clr-primary-300: #11eb4c;
  --clr-primary-400: #8c2fdc;
  --clr-primary-900: #000000;

}



*{
  padding: 0;
  margin: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);
}

p{
  color: var(--clr-primary-100);
}

h1{
  font-size: 2rem;
  text-align: center;
}

section{
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  
}

section .wave{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: url(./img/wave.png);
  background-size: 200rem 10rem;
  background-color: var(--clr-primary-900);

}

section .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  background-color: var(--clr-primary-200);
 
}

section .wave.wave2{
  animation: animate2 20s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 2rem;
  background-color: var(--clr-primary-300);
}

section .wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.25;
  animation-delay: -2s;
  bottom: 15;
  background-color: var(--clr-primary-200);
}

section .wave.wave4{
  animation: animate2 20s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 5rem;
  background-color: var(--clr-primary-400);
}







@keyframes animate
{
  0%
  {background-position-x: 0;

}

100%
{background-position-x: 250rem;}

}


@keyframes animate2
{
  0%
  {background-position-x: 0;

}

100%
{background-position-x: -500rem;}

}








.container, .container2{
  display: flex;
  justify-content: center;
  gap: .5rem;
  max-width: 100%;
  padding: 0rem 1rem;
  margin: 2rem 0rem;
  

}

.option{
  width: 8rem;
  transition: all 300ms;
  
}

.option:hover{
  opacity: 75%;
  transform: scale(1.1);
}

.headerImage{
  max-width: 100%;
  width: 20rem;
  height: auto;
  object-fit: cover;
}



@media only screen and (min-width: 1000px){

  header{
    display: flex;
    justify-content: center;
  }


  .headerImage{
    width: 25rem;

  }

  .option{
    width: 10rem;
   

}

.container, .container2{
  gap: 4rem;

}





}