*{
  padding: 0;
  margin: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

p{
  color: white;
}

h1{
  font-size: 2rem;
}

.container, .container2{
  display: flex;
  justify-content: center;
  gap: .5rem;
  max-width: 100%;
  padding: 0rem 1rem;

}

.option{
  width: 8rem;
  transition: all 300ms;
  margin: 1rem 0rem;
}

.option:hover{
  opacity: 75%;
  transform: scale(1.1);
}

.headerImage{
  max-width: 100%;
  width: 20rem;
  height: auto;
  object-fit: cover;
}



@media only screen and (min-width: 1000px){

  header{
    display: flex;
    justify-content: center;
  }


  .headerImage{
    width: 25rem;

  }

  .option{
    width: 10rem;
   

}

.container, .container2{
  gap: 4rem;

}





}