*{
  padding: 0;
  margin: 0;
}


.container, .container2{
  display: flex;
  justify-content: center;

}

.option{
  width: 8rem;
  transition: all 300ms;
}

.option:hover{
  opacity: 75%;
  transform: scale(1.1);
}